<p><%= t('.greeting', recipient: @email) %></p>

<p><%= t('.instruction') %></p>

<p><%= link_to t('.action'), 
                controller: 'devise/confirmations',
                action: 'create',
                confirmation_token: @token %></p>
